<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Nueva persona
        link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css")
        style(type="text/css")
           include ../css/styles.css
    body
        .container-fluid 
            .row 
                .col-lg-6.col-8.mx-auto.border.px-5.py-2.mt-5.bg-white.rounded.shadow
                            
                    form(action="addPersona", method="POST").mt-2
                        h1 Añade nueva persona

                        label Correo:
                        input(type="email",name="correo",required).form-control
                        br
                        label Contraseña:
                        input(type="password",name="pass",required).form-control
                        br
                        .row
                            .col
                                label Nombre:
                                input(type="text",name="nombre",required).form-control
                            .col
                                label Teléfono:
                                input(type="text",name="tfno",required).form-control
                        br
                        .row 
                            .col 
                                label Edad:
                                input(type="number",name="edad",required).form-control
                            .col
                                label Rol:
                                select(name="rol").form-select
                                    option Admin
                                    option Usuario
                        
                        - if(mensaje)
                            p!= mensaje
                        - else 
                            br
                        
                        input(type="submit",value="Confirmar").btn.btn-secondary

                    .d-flex.mt-2
                        form(action="irCRUD", method="POST")
                            input(type="submit",value="Volver").btn.btn-secondary

                        form(action="cerrarSesion", method="POST").marg
                            input(type="submit",value="Cerrar sesión").btn.btn-secondary

                            

        
