html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Tabla de multiplicar
    body
        h1 Tabla de multiplicar
        form(action="jugar", method="POST")
            label Escribe un número: 
            input(type="number",name="tabla")
            br
            input(type="submit",value="Jugar")