<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rutas y formularios
    body
        h1 Login
        form(action="validar", method="POST")
            label Correo: 
            br
            input(type="email",name="correo",required)
            br
            label Contraseña:
            br
            input(type="password",name="pass",required)
            br
            - if(mensaje)
                p!= mensaje
            - else 
                br
            input(type="submit",value="Entrar")
