<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Welcome
    body
        h1 Bienvenido/a #{persona.nombre}
        form(action="cerrarSesion", method="POST")
            input(type="submit",value="Cerrar sesión")  

  