<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Welcome
        link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css")
        style(type="text/css")
           include ../css/styles.css
    body
        .container-fluid 
                .row 
                    .col-lg-4.col-8.mx-auto.border.px-5.py-5.mt-5.bg-white.rounded.shadow
                        h1.text-center Bienvenido/a #{persona.nombre}
                        form(action="cerrarSesion", method="POST")
                            input(type="submit",value="Cerrar sesión").btn.btn-secondary.w-50.mt-3.d-block.mx-auto

  